/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    background: #f7f7f7;
    color: #333;
    font-size:16px;
    font-family: 'Open Sans', sans-serif;
}

#container {
    width:100%;
    background: #f7f7f7;
    margin:0 auto;
    height:568px;
}

#headertop {
    width:96%;
    margin:0 auto;
    padding:20px 2%;
    text-align: center;
    background: #6eb434; /* Old browsers */
    background: -moz-linear-gradient(top,  #6eb434 0%, #82d63c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6eb434), color-stop(100%,#82d63c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #6eb434 0%,#82d63c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #6eb434 0%,#82d63c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #6eb434 0%,#82d63c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #6eb434 0%,#82d63c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6eb434', endColorstr='#82d63c',GradientType=0 ); /* IE6-9 */

}

#content {
    padding:10px 5%;
    background:#ececec;
    text-align: center;
    padding-bottom: 50px;
}

#content-home {
    padding:0px;
    background:#ececec;
    text-align: center;

}

h1 {
    font-size:1.2em;
    text-align: center;
    padding:15px 0;
    background:#f7f7f7;
    color:#333;
    border-top:1px solid #7abb43;
    border-bottom:1px solid #d6d6d6;
    font-weight:600;
}

p { margin-bottom:0.8rem;}

a
 {
    color:#7abb43;
    text-decoration: none;
}

a:hover, a:active, a:focus
 {
    color:#7abb43;
    text-decoration: none;
}

.intro-text {
    margin-top:50px;
    margin-bottom: 50px;
}

#footerbottom {
    border-top:1px solid #d6d6d6;
    width:96%;
    background:#f7f7f7;
    margin:0 auto;
    padding:10px 2%;
    position:;
    text-align: center;
    float:left;
}

.madeby {
    font-size:0.8rem;
    margin-top:10px;
    margin-bottom:20px;
}

.btn {
    text-transform: uppercase;
    color:#f7f7f7;
    background: #7abb43;
    margin:10px 5%;
}

a:focus .btn, a:hover .btn, a:active .btn {
    background:#6EA83C;
    text-decoration: none;
    box-shadow: inset 0px 0px 10px 0px #507A2C;
    -webkit-box-shadow: inset 0px 0px 10px 0px #507A2C;
    -moz-box-shadow: inset 0px 0px 10px 0px #507A2C;
    -o-box-shadow: inset 0px 0px 10px 0px #507A2C;
}

.btn-destination {
    padding:30px 2%;
    width:auto;
    margin:20px auto;
}

.btn-home-options {
  width:100%;
  padding:30px 0 50px;
  border-bottom:1px solid #d6d6d6;
  font-weight:400;
  text-transform: uppercase;
}
.btn-home-options:last-of-type {
  border-bottom:0px;
}

.map-text {
    text-align: center;
    margin:20px;
}

#map-container {
    height:300px;
    width:100%;
    background:white;
}
.next-bus-text {
    padding:30px;
    text-align: center;
    font-size: 1.5rem;
}


.arrives-at-text {
    border-top:1px solid #d6d6d6;
    padding:30px;
    text-align: center;
    background: #ececec;
    font-size: 1.2rem;
}

.home-icon {
  margin:0 auto;
  width:100%;
  height:100px;
  text-align:center;
}
.home-icon a {
  background: #ccc;
  color:#6dbd2b;
}

.home-icon a:hover, .home-icon a:focus, .home-icon a:active {
  background: #6dbd2b;
  color:white;
}

.home-icon img{
  margin-bottom: 20px;
  height:75px;
}

#content-pick-destination {
margin:0;
float:left;
width:100%;
background: #ececec;x
}

.destination-box {
    float:left;
    display: block;
    width:50%;
    padding:30px 0 50px;
    border-bottom:0px solid #d6d6d6;
    font-weight:400;
    text-transform: uppercase;
}

#start_journey {
    padding:15px 0;
    background:;
    border-bottom:1px solid #d6d6d6;
    float:left;
    width:100%;
    min-height: 25px;
}

.starting-point {
    float:left;
    width:48%;
    display: block;
    text-align: right;
}

.or {
 width:4%;
 float: left;
 font-style: italic;
 margin-top:3px;
}

.code {
 width:48%;
 float: left;
 display: block;
 text-align: left;
}

.code-submit {
    width:50px;
    height:25px;
    border-radius: 0;
    border:none;
    background:#7abb43;
    color:white;
    margin-left:5px;
}

label {
    position: relative;
    top: 2px;
}

#map-canvas {
    float:left;
    height:450px;
}

.home-header-icon  {float:left; margin-left:5px;}
.info-header-icon  {float:right; margin-right:5px;}

#content-info {
    padding:5%;
    text-align: center;
}

#content-info p {
    margin-bottom:20px;
    line-height:1.5rem;
}

#content-info .team-member {
    padding:10px 0;
    background:#ececec;
}

.map-info { min-width:120px; }
    .map-info p { margin:5px auto; font-size:13px; }
    .map-info a { display:inline-block; text-transform:uppercase; background:#7abb43; color:#fff; line-height:2em; padding:0 10px; letter-spacing:1px; margin:5px 0 0; font-weight:600;}

#user-location { }
    #user-location h2 { }
.stop-info { }
.bus-info { }

#user-location { }
    #user-location h2 { }
.stop-info { }
.bus-info { }

#map-canvas { background:url('/app/views/img/loader2.gif') no-repeat center center; }

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#results h2 { margin-bottom:20px; font-size:1.5rem; }
#results img { margin-top:-15px; }
#results span.route { font-size:1.5rem; }
#results span span { color:#fff; display:inline-block; padding:4px 8px; font-weight:700; }
	#results span.route_1 span { background:#282787; }
	#results span.route_1A span { background:#FAA90B; }
	#results span.route_2 span { background:#CD0D77; }
	#results span.route_3 span { background:#FD6516; }
	#results span.route_4 span { background:#55BB58; }
	#results span.route_8 span { background:#FEABBA; }
	#results span.route_12 span { background:#F22A17; }
	#results span.route_12X span { background:#F22A17; }
	#results span.route_13 span { background:#066980; }
	#results span.route_14 span { background:#506751; }
	#results span.route_15 span { background:#03A9EF; }
	#results span.route_16 span { background:#026F2E; }
	#results span.route_19 span { background:#B7AC91	; }
	#results span.route_21 span { background:#A44A2D; }
	#results span.route_23 span { background:#8CD3F7; }
	#results span.route_25 span { background:#DCDA28; }
	#results span.route_27 span { background:#F24C9D; }
	#results span.route_28 span { background:#03A898; }

@media only screen and (max-width: 700px) {
.starting-point, .code, .or{
    float:left;
    width:100%;
    display: block;
    text-align: center;
}

.or { margin:10px 0;}

}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
